
body	{

	background-image: url("https://a0.muscache.com/pictures/a430c412-63bc-45f5-8a13-55647449a0b1.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	font-family: Helvetica, Roboto, sans-serif;
}


/*div {
	border: 1px solid black ;
}*/

section, header {
	margin-left: 10%;
}

h1 {
	font-size: 46px;
	color: white;
}

h2 {
	font-size: 24px;
	color: #484848;
	font-weight: 800;
    line-height: 1.25em;
}


/*------------ FIRST SECTION --------------*/


.header {
	margin-top: 65px;
	height: 100%;
	margin-right: 25%;
}

.header-text {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;

}



.header-text-button {
	
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 18px;
	color: white;
	line-height: 28px;

}

.explore {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-right: 10px;

}

.host {
	display: flex;
	flex-direction: column;
	width: 100%;

	
}

.host button {
	color: white;
	width: 100%;
	background-color: rgba(117,152,171,0.6);
	font-size: 17px;
	font-family: Roboto, sans-serif;
	border: 2px solid white ;
	border-radius: 3px;
	padding: 10px;
	font-weight: bold;


}

.explore button {
	color: black;
	width: 100%;
	background-color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
}



i {
	position: absolute;
	font-size: 2em;
	color: white;
	left: 3vw;
	top: 5vh;
	z-index: 1;
	width: auto;

}


/*------------ SECOND SECTION --------------*/

.reserve-form {
	display: flex;
	flex-direction: column;
	margin-top: 20vh;
	border-color: rgb(235,235,235);
	border-width: 1px solid;
	margin-right: 5%;

}


.reserve-title-input {
		display: flex;
		flex-direction: row;
		border-color: rgb(235,235,235);
		border-width: 1px;
		width: 100%
		height: 100%;
}

.reserve-title-input input {
	font-size: 16px;
    height: 100%;
    color: rgb(72, 72, 72) ;
    font-weight: 300 ;
	width: 100% ;
    border-color: rgba(235,235,235, 0.5);
	border-width: 1px;
		
}

.reserve-title-input select {
 	font-size: 16px ;
 	color: rgb(72, 72, 72) ;
    font-weight: 300;
	width: 100% ;
    height: auto;
 	border-color: rgba(235,235,235, 0.5);
	border-width: 1px;

}

.reserve-title-input option {
 	font-size: 16px;
 	color: rgb(72, 72, 72);
    font-weight: 300;
	width: 100%;
}

.reserve-title {
	display: inline-flex;
	width: 100%;
	color: #484848;
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.083em;
}

.ou {
	width: 500px;
	margin-right: 10px;
}

.ou input {
	width: 100%;
	}


.reserve-dates {
	width: auto;
	margin-right: 10px;

}

.hyphen {
	font-size: 16px ;
    line-height: 20px ;
    color: rgb(72, 72, 72) ;
    font-weight: 300 ;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
}

#reserve-dates {
	display: inline-flex;
}

.voyageur {
	width: 300px;
	margin-right: 10px;

}

.child-adult {
	visibility: hidden;
	display: none;

}

.rechercher {
	display: inline-flex;
	border-radius: 4px;
	width: 300px;
	margin-left: 10px;
}



.rechercher input {
	background-color: #FF5A5F;
	color: white;
	font-weight: 800;
}

/* ------ THIRD SECTION -------*/

.section-three {
margin-top: 50px;
margin-right: 10%;
}

.part-one-head {
	margin-bottom: 30px;
}

.part-content {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.part-content-align {
	display: flex;
	flex-direction: column;
	margin-right: 10px;

}

.living-room img {
	width: 100%;
}


.profile {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	line-height: 20px;
}

.profile-pic img {
	width: 40px;
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 13px;
}

.name {
	font-size: 16px;
	color: #484848;
	font-weight: 600;
}

.country {
	font-size: 14px;
	color: #484848;
	font-weight: 400;
}



/*MEDIA QUERIES*/

/*MEDIUM SCREEN  900-1220px*/


@media screen and (max-width: 1220px) 
{

/*FIRST SECTION*/

.header {
	margin-top: 65px;
	height: 100%;
	margin-right: 20%;
	width: 80%;

}

.header-text {

	width: 100%;
	margin-right: 30%;
	height: 100%;

}


.header-text-button {
	
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 14px;
	color: white;
	line-height: 28px;
}

.explore {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.host {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

}

h1 {
	font-size: 32px;
	color: white;
	line-height: 1.125em;
}




.host button {

	background-color: rgba(0,0,0,0.5);

}

/* SECOND SECTION*/

.reserve-title-input {
		display: flex;
		flex-direction: column;
		border-color: rgb(235,235,235);
		border-width: 1px;
		margin-bottom: 15px;
}

.reserve-title {
	display: flex;	
	flex-direction: column;
	width: 100%;
	line-height: 1.3em;
	letter-spacing: 0.1em;
	font-size: 12px;
	font-weight: 800;
	color: #484848;


}


#reserve-dates {
	width: 100%
}


.rechercher {
	margin-left: 0px;
	height: 40px;
	width: 100%;
}


.voyageur {
	width: 100%;
	margin-right: 10px;

}

.reserve-dates {
	width: 100%;
	margin-right: 0px;

}

.hyphen {
	display: none;
}


.reserve-form {
	margin-top: 175px;

}

.reserve-form  div{
	margin-bottom: 10px;

}

.reserve-form h2 {
	display: none;
}

.ou {
	width: 100%;
	margin-bottom: 10px;
}

.ou input {
	width: 100%;
	}


.voyageur {
	display: none;
}

.child-adult {
	visibility: visible;
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 10px;
}

.adults, .children {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}

.children {
	width: 100%;
}

.adults {
	width: 100%;
}


/*---------THIRD SECTION---------*/




.part-content {
	width: 100%;
}

.part-content-align img {
	width: 100%;
}



.living-room img {
	width: 500px;
}

.fivestar_review img {
	width: inherit;
}


.profile-pic img {
	width: 30px;
}


}




/*MEDIA QUERIES SCREEN BETWEEN 750 and 950px*/

@media screen and (max-width: 950px) 
{

.header {
	margin-top: 65px;
	height: 100%;
	margin-right: 5%;
	margin-left: 3%;


}

.header-text {

	width: 100%;
	margin: 0px;

}


.header-text-button {
	
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 14px;
	color: white;
	line-height: 28px;
}

.reserve-form {
	margin-top: 150px;

}




}


/*MEDIA QUERIES SCREEN BELLOW 750px*/

@media screen and (max-width: 750px) {

.header {
	margin-top: 65px;
	height: 100%;
	margin-right: 5%;
	margin-left: 3%;

}

.header-text-button {
	
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 14px;
	color: white;
	line-height: 28px;
}

.explore {
	display: flex;
	flex-direction: column;
	width: 100%;

}

.host {
	display: flex;
	flex-direction: column;
	width: 100%;

}

h1 {
	font-size: 32px;
	color: white;
	line-height: 1.125em;
}


.host button {

	background-color: rgba(0,0,0,0.5);
}


body {
	background-size: 1500px 450px;
}


.reserve-form {
	margin-top: 100px;

}



/*---------THIRD SECTION---------*/

.part-content {
	width: 100%;
}


.living-room img {
	width: 400px;
}



}